@import "./footer__copyright/footer-copyright.css";

.footer {
    max-width: 882px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
}

@media screen and (max-width: 895px) {
    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 324px) {
    .footer {
        width: 90%;
    }
}
